homepage-hero{
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;

    hero-copy{
        width: 55%;
        padding-right: 96px;
        z-index: 5;
        display: inline-flex;
        align-items: center;
        padding: 0 64px;
        color: #181818;

        h1{
            font-weight: 800;
            font-size: 64px;
            display: block;
            line-height: 1.25;
            margin-bottom: 16px;
        }

        p{
            font-size: 22px;
            display: block;
            line-height: 1.5;
            font-weight: 500;
            margin-bottom: 32px;
        }

        form{
            display: block;

            input-shim{
                width: 350px;
                margin-right: 16px;
                vertical-align: middle;

                input{
                    border-radius: 4px;
                    border: 2px solid #181818;
                    padding: 14px 16px;
                    height: 52px;
                    line-height: 50px;
                    color: #181818;
                    width: 100%;
                    transition: all 150ms ease;

                    &:focus{
                        border-color: #ff7d2b;

                        & + label{
                            opacity: 0;
                            visibility: hidden;
                        }
                    }

                    &:valid{
                        & + label{
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }

                label{
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #181818;
                    opacity: 0.3;
                    font-size: 14px;
                    white-space: nowrap;
                    user-select: none;
                    pointer-events: none;
                    visibility: visible;
                    transition: all 150ms ease;

                    svg{
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }

                    span{
                        vertical-align: middle;
                        line-height: 18px;
                    }
                }
            }

            button{
                height: 52px;
                border: 2px solid #ff7d2b;
                background-color: #ff7d2b;
                line-height: 50px;
                padding: 0 32px;
                border-radius: 4px;
                color: #fff;
                box-shadow: 0 1px 3px rgba(#ff7d2b, 0.3), 0 2px 6px rgba(#ff7d2b, 0.3);
                cursor: pointer;
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: center;
                vertical-align: middle;
                transition: all 150ms ease;

                &:hover{
                    background-color: lighten(#ff7d2b, 3);
                }

                &:active{
                    background-color: darken(#ff7d2b, 3);
                    box-shadow: 0 1px 3px rgba(#ff7d2b, 0.4);
                    transform: translateY(2px);
                }

                svg{
                    width: 22px;
                    height: 22px;
                    margin-right: 12px;
                }
            }
        }
    }

    hero-carousel{
        width: 45%;
        height: 100%;
        white-space: nowrap;

        slide{
            vertical-align: top;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transform: translateX(125%);
            flex-flow: column wrap;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            white-space: normal;
            opacity: 1;
            transition: transform 600ms ease;

            &::before{
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                width: 150%;
                height: 100%;
                top: 0;
                transform: skewX(-7deg);
                background-color: #ffbb38;
                // box-shadow: -1px 0px 3px rgba(#181818, 0.2), -4px 0 16px rgba(#181818, 0.15);
            }

            &.is-active{
                transform: translateX(0);
                visibility: visible;
            }

            &.is-fading{
                opacity: 0;
                transition: opacity 600ms ease;
            }

            vertical-line{
                width: 1px;
                height: 100%;
                background-color: #fff;
                opacity: 0.15;
                position: absolute;
                top: 0;
                left: 50%;
                
                &:first-of-type{
                    transform: translateX(-96px);
    
                    @media (min-width: 1919px){
                        transform: translateX(-125px);
                    }
                }
    
                &:last-of-type{
                    transform: translateX(96px);
    
                    @media (min-width: 1919px){
                        transform: translateX(125px);
                    }
                }
            }

            img-shim{
                height: 45vh;
                max-width: 80%;
                display: inline-block;
                user-select: none;

                @media (min-width: 1919px){
                    height: 55vh;
                }

                img{
                    filter: drop-shadow(0 2px 4px rgba(#181818, 0.15));
                    height: 100%;
                }

                price{
                    position: absolute;
                    bottom: 64px;
                    left: 0;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0 1px 3px rgba(#181818, 0.15), 0 2px 6px rgba(#181818, 0.15);
                    color: #ffbb38;
                    height: 115px;
                    width: 115px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column wrap;
                    font-size: 0;
                    white-space: nowrap;
                    transform: rotate(-4deg);

                    symbol,
                    dollar,
                    cents{
                        vertical-align: middle;
                        font-size: 18px;
                    }

                    symbol{
                        font-weight: 600;
                        transform: translateX(2px);
                        line-height: 1;
                    }

                    dollar{
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 1;
                    }

                    cents{
                        font-size: 30px;
                        vertical-align: top;
                        font-weight: 800;
                        line-height: 1.1;
                    }
                }
            }

            product-details{
                display: flex;
                width: 100%;
                align-items: flex-end;
                justify-content: center;
                margin-top: 64px;
                padding: 0 32px;

                @media (min-width: 1919px){
                    margin-top: 96px;
                }

                product-name,
                product-calories,
                product-macros{
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    width: 33%;

                    @media (min-width: 1919px){
                        margin: 0;
                        font-size: 22px;
                        width: 250px;
                    }
                }

                product-name{
                    font-weight: 800;
                    text-align: left;
                    padding-right: 8px;
                }

                product-macros{
                    text-align: right;
                }

                product-calories,
                product-macros{
                    opacity: 0.6;

                    svg{
                        width: 22px;
                        height: 22px;
                        display: block;
                        margin: 0 auto 16px;
                    }
                }
            }
        }

        carousel-controls{
            position: absolute;
            right: 64px;
            top: 128px;
            font-size: 0;
            white-space: nowrap;
            z-index: 15;

            button{
                height: 48px;
                width: 64px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
                cursor: pointer;

                &::before{
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: skewX(-7deg);
                    transition: all 150ms ease;
                }

                &:first-of-type{
                    color: #fff;

                    &:before{
                        background-color: #ff7d2b;
                    }

                    &:hover{
                        &:before{
                            background-color: darken(#ff7d2b, 4);
                        }
                    }

                    &:active{
                        &:before{
                            background-color: darken(#ff7d2b, 8);
                        }
                    }
                }

                &:last-of-type{
                    color: #ff7d2b;

                    &:hover{
                        &:before{
                            background-color: darken(#fff, 4);
                        }
                    }

                    &:active{
                        &:before{
                            background-color: darken(#fff, 8);
                        }
                    }

                    &:before{
                        background-color: #fff;
                    }
                }

                svg{
                    width: 22px;
                    height: 22px;
                    pointer-events: none;
                }
            }
        }
    }
}